body{
    overflow-x: hidden;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
.side-fade-enter-active{
    transition: all .3s ease;
}
.side-fade-leave-active{
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1)
}
.side-fade-enter, .side-fade-leave-to{
    transform: translateX(100px);
    opacity: 0;
}